{% extends "Base.html" %}
{% block title %}Lista de Engines{% endblock %}
{% block content %}

<style>
  #engineListContainer table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 1em;
  text-align: left;
}

#engineListContainer th, #engineListContainer td {
  padding: 12px 15px;
  border: 1px solid #ddd;
}

#engineListContainer th {
  background-color: #f4f4f4;
}

#engineListContainer tr:nth-child(even) {
  background-color: #f9f9f9;
}

#engineListContainer tr:hover {
  background-color: #f1f1f1;
}

button {
  background-color: #4CAF50; /* Verde */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049; /* Verde más oscuro */
}
</style>

<div id="engineListContainer">
  <h1>Lista de Motores</h1>
  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Activo</th>
        <th>En Entrenamiento</th>
        <th>Ruta de Modelos</th>
        <th>Creado En</th>
        <th>Modelo de Recuperación</th>
        <th>Modelo de Ranking</th>
        <th>Acciones</th> <!-- Nueva columna para el botón -->
      </tr>
    </thead>
    <tbody>
      {% for engine in engines %}
      <tr>
        <td>{{ engine.name }}</td>
        <td>{{ "Sí" if engine.is_active else "No" }}</td>
        <td>{{ "Sí" if engine.is_training_by else "No" }}</td>
        <td>{{ engine.service_models_path }}</td>
        <td>{{ engine.createAt.strftime('%Y-%m-%d %H:%M:%S') }}</td>
        <td>
          {% if engine.retrieval_model_id %}
          Modelo {{ engine.retrieval_model_id }}
          {% else %}
          N/A
          {% endif %}
        </td>
        <td>
          {% if engine.ranking_model_id %}
          Modelo {{ engine.ranking_model_id }}
          {% else %}
          N/A
          {% endif %}
        </td>
        <td>
          <a href="/engines/{{ engine._id }}">
            <button>Ver Detalle</button>
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <a href="/create-engines">
    <button>Nuevo Motor</button>
  </a>
</div>
{% endblock %}
