fastapi==0.115.0
fastapi[standard]
SQLAlchemy==2.0.35
psycopg2==2.9.9
tensorflow==2.15.0
tensorflow-recommenders==0.7.3
pandas==2.2.3
matplotlib==3.9.2
Jinja2==3.1.4
pymongo==4.10.1
passlib==1.7.4
PyJWT==2.9.0
bcrypt==4.2.0