{% extends "Base.html" %}
{% block title %}Inicio{% endblock %}
{% block content %}
  <style>
    .home {

    }

    ul {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      gap: 4px;
      list-style: none;
      padding-left: 0;
    }

    ul li a {
      display: block;
      background-color: #eeeeee;
      padding: 8px;
      border-radius: 10px;
      text-decoration: none;
      color: inherit;
    }

    .historial-container {
      display: flex;
      gap: 4px;
    } 

    .user-selected {
      width: 100%;
      background-color: #eeeeee;
      padding: 8px;
      border-radius: 10px;
      text-align: center;
    }

    .btn-container {
      display: flex;
      width: 100%;
      padding: 24px;
      justify-content: center;
      align-items: center;
    }

    .btn-container button{
      padding: 4px;
      border-radius: 4px;
      transition: all 0.2s;
      cursor: pointer;
    }

    .btn-container button:hover {
      background-color: #aaa;
    }
  </style>


  <div class="home">
    <h1>Bienvenido</h1>

    <div>
      <h3>Seleccione un usuario para generarle recomendaciones.</h3>
      <ul class="user-list">
        {% for user in users %}
          <li>
            <a href="/{{user.id}}">
              {{ user.username }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>

    {% if user %}
      <h3>Usuario Seleccionado</h3>
      <div class="user-selected">
        {{ user }}
      </div>
    {% endif %}

    <div>
      <h3>Preferencias</h3>
      <div class="historial-container">
        <ul>
          {% for view in views %}
            <li>
              {{ view.username }}
              {{ view.publicacion_id }}
            </li>
          {% endfor %}
        </ul>
        <ul>
          {% for like in likes %}
            <li>
              {{ like.username }}
              {{ like.publicacion_id }}

            </li>
          {% endfor %}
        </ul>
      </div>
    </div>


    <div class="btn-container">
      <button class="btn-rec">
        Generar Recomendaciones
      </button>
    </div>

{% endblock %}