{% extends "Base.html" %}
{% block title %}Inicio{% endblock %}
{% block content %}
  <style>
    .home {

    }

    ul {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      gap: 4px;
      list-style: none;
      padding-left: 0;
    }

    ul li a {
      display: block;
      background-color: #eeeeee;
      padding: 8px;
      border-radius: 10px;
      text-decoration: none;
      color: inherit;
    }

    .historial-container {
      display: flex;
      gap: 4px;
    } 

    .user-selected {
      width: 100%;
      background-color: #eeeeee;
      padding: 8px;
      border-radius: 10px;
    }
  </style>


  <div class="home">
    <h1>Bienvenido</h1>

    <div>
      <h3>Seleccione un usuario para generarle recomendaciones.</h3>
      <ul class="user-list">
        {% for user in users %}
          <li>
            <a href="/{{user.id}}">
              {{ user.username }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>

    {% if user %}
      <h3>Usuario Seleccionado</h3>
      <div class="user-selected">
        {{ user.username.0 }}
      </div>
    {% endif %}

    <div class="historial-container">
      <ul>
        {% for view in views %}
          <li>
            {{ view.username }}
          </li>
        {% endfor %}
      </ul>
      <ul>
        {% for like in likes %}
          <li>
            {{ like.username }}
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}